<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>ZURBemails</title>
    <link rel="stylesheet" type="text/css" href="http://zurb.com/playground/projects/responsive-email-templates/stylesheets/email.css">
  </head>
  <body bgcolor="#FFFFFF" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
    <table class="body-wrap" bgcolor="">
      <tr>
        <td></td>
        <td class="container" align="" bgcolor="#FFFFFF">
          <div class="content">
            <table>
              <tr>
                <td>
                  <h1>Feeling Chatty?</h1>
                  <p class="lead">Some great conversations happening on Twitter right now... </p>
                </td>
              </tr>
            </table>
          </div>
          <div class="content">
            <table bgcolor="">
              <% @conversations.each do |tweet_id, conversation| %>
                <% user = conversation[:parent_tweet].user %>
                <% parent_tweet = conversation[:parent_tweet] %>
                <tr style="border:1px solid #efefef">
                  <td class="small" width="20%" style="vertical-align: top; padding-right:10px;">
                    <a href="http://twitter.com/<%= user.handle %>"><img src="<%= user.profile_image_uri.to_s %>"/></a>
                  </td>
                  <td>
                    <h4>@<%= user.handle %> 
                      <small>
                        Retweets : <%= parent_tweet.retweet_count %>, &nbsp;
                        Favorites : <% parent_tweet.favorite_count %>, &nbsp;
                        User Followers : <%= user.followers_count %>
                      </small>
                    </h4>
                    <p class=""><%= parent_tweet.text %></p>
                    <a class="btn" href="<%= parent_tweet.uri.to_s %>">Open conversation &raquo;</a>
                  </td>                  
                </tr>
              <% end %>
            </table>
          </div>
        </td>
      </tr>
    </table>
    <table class="footer-wrap">
      <tr>
        <td></td>
        <td class="container">
          <div class="content">
            <table>
              <tr>
                <td align="center">
                  <p>
                    <a href="#">Terms</a> |
                    <a href="#">Privacy</a> |
                    <a href="#">
                      <unsubscribe>Unsubscribe</unsubscribe>
                    </a>
                  </p>
                </td>
              </tr>
            </table>
          </div>
        </td>
        <td></td>
      </tr>
    </table>
  </body>
</html>